@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@* Đoạn chuyển sang section trong Layout *@
@section Footer2
    {
    <hr />
    <p>Đây là trang About</p>
    <a href="https://www.gmail.com">Gmail</a>
    }
