
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>Tổng của 5 và 9 là : @ViewBag.tong</p>
        <p>Tích của 5 và 9 là : @ViewBag.tich</p>
        <p>Hiệu của 5 và 9 là : @ViewBag.hieu</p>
        <p>Thương của 5 và 9 là : @ViewBag.thuong</p>
    </div>
</body>
</html>
