@model List<Website2.Class.SinhVien>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Index</title>
</head>
<body>
    <div>
        <p>Danh Sách Sinh Viên</p>
        <table class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Họ và Tên</th>
                    <th>Nam</th>
                    <th>Lớp</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Hovaten</td>
                        <td>@item.GioiTinh</td>
                        <td>@item.Lop</td>
                    </tr>
                }
                
            </tbody>

           
        </table>
    </div>
</body>
</html>
